.footer {
    width: 100%;
    background-color: #282828;
    .footer__info {
        font-size: 12px;
        line-height: 30px;
        color: #605f5f;
        font-weight: 300;
        font-family: "Roboto";
        text-align: center;
    }
}