@import "../other/misxins";

.section-benefits {
    display: flex;
}
.section-benefits--bg {
    background: url(../img/rIzor.png) no-repeat;
    background-position: 88.75% 0;
    width: 100%;
    padding-bottom: 170px;
    
}

// VIDEO
.section-benefits__video {
    width: 100%;
    flex: 0 0 38.7%;
    max-width: 38.7%;
    margin-top: 5.4%;
    height: 750px;
    background: url(img/section2.png) no-repeat center;
    background-size: cover;
    margin-right: 15px;
    
    .section-benefits--bg-hover {
        width: 100%;
        height: 100%;
        @include f-c;

        &:hover {
            background-color: rgba(202, 202, 202, 0.356);
            transition: ease 0.2s;
        }

        .section-benefits__play {
            width: 14%;
            height: 15%;
            background: url(img/playy.png)center no-repeat;
            background-size: 100%;

                &:hover {
                    background: url(img/playhover.png)center no-repeat;
                    background-size: 100%;
                    transition: ease 0.2s;
                }
        }  
    } 
}

// DESIGNE
.section-benefits__design {
    width: 100%;
    flex: 0 0 20%;
    max-width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;

    
    .section-benefits__mini-title {
        font-size: 20px;
        letter-spacing: 2px;
        line-height: 80px;
        color: #3a30f8;
        font-weight: 700;
        font-family: "Roboto";
        text-transform: uppercase;
        padding-top: 170px;
        padding-bottom: 55px;
    }

    .section-benefits__description {
        padding-left: 70px;     
    }

    
    
}

// PRODUCT
.section-benefits__product {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    

    .section-benefits__title {
        padding-left: 16%;
        padding-top: 77%;
        
    }
    .section-benefits__description {
        padding-left: 16%;
    }
    .product-tab {
        display: flex;
        padding-top: 7.5%;
        padding-left: 17%;
            .item-product-tab--bg-1{
                background-color: #0c0c0c ;
            }
            .item-product-tab--bg-2{
                background-color: #00b6f0 ;
            }
            .item-product-tab--bg-3{
                background-color: #e23131 ;
            }
            .item-product-tab--bg-4{
                background-color: #efeeee ;
            }
            .item-product-tab--bg-5{
                background-color: #e2e737 ;
            }
    }
    

}
.section-benefits__tab-content {
       padding-top: 30px;
       padding-left: 2.5%;
            .section-benefits__content-img {
                width: 50%;
                height: 100%;
            }
    }

.item-product-tab {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 15px;
}

.title {
    font-size: 40px;
    letter-spacing: 3px;
    color: #000000;
    font-weight: 400;
    font-family: "Rubik Mono One";
    padding-bottom: 26px;
}

.description {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: 300;
    font-family: "Roboto";

    .description-item {
        padding: 10px 0;
        list-style-type: none;
        font-size: 18px;
        line-height: 30px;
        color: #000000;
        font-weight: 300;
        font-family: "Roboto";
        
        

        &::before {
            content: " ";
            margin-right: 15px;
            width: 30px;
            height: 5px;
            background-color: #000;
            display: inline-block;
        } 
    }
}






